

#main-menu {
    display: flex;
    justify-content: space-between;
}

.main-menu__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__menu-item {
    display: inline-block;
}

.main-menu__menu-item>a {
    display: block;
    padding: 16px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 18px;

}

a.active, a:hover{
    border: 1px solid #eee;
    transition: .5s ;
}

.main-menu__responsive-button {
    display: none;
}