

#main-menu {
    background-color: var(--color-accent-red);
    display: flex;
    justify-content: space-between;
}

.main-menu__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__menu-item {
    display: inline-block;
}

.main-menu__menu-item>a {
    display: block;
    padding: 16px;
}

.main-menu__responsive-button {
    display: none;
}