* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
/*
#grid-container{
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-areas: 
                       "header header"
                       "main main"
                       "footer footer";

}

#grid-container>header{
    grid-area: header;
   

}
main{
    grid-area: main;
   
}

.frontPageImage {
    float: left;
    width: 50%;
    margin: 16px;
}

footer{
    grid-area: footer;
}


@media (min-width: 600px) {
    #samenwerkingen-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 32px;
        grid-gap: 32px;
    }
}
Tot hier */


/*
#main-menu {
    background-color: var(--color-accent-red);
    display: flex;
    justify-content: space-between;
}

.main-menu__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__menu-item {
    display: inline-block;
}

.main-menu__menu-item>a {
    display: block;
    padding: 16px;
}

.main-menu__responsive-button {
    display: none;
}