:root {
    --color-accent-red: #f00;
    --color-100: #eee;
    --color-900: #000;

    --max-site-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}
#grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 500px 400px;
    grid-template-areas: 
                       "header header"
                       "main main"
                       "footer footer";

}

#grid-container>header{
    grid-area: header;
    background-color: aqua;

}
main{
    grid-area: main;
    background-color: blueviolet;
}

footer{
    grid-area: footer;
    background-color: chocolate;
}


/*
#main-menu {
    background-color: var(--color-accent-red);
    display: flex;
    justify-content: space-between;
}

.main-menu__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__menu-item {
    display: inline-block;
}

.main-menu__menu-item>a {
    display: block;
    padding: 16px;
}

.main-menu__responsive-button {
    display: none;
}
*/
