* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}
#grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px auto 400px;
    grid-template-areas: 
                       "header header"
                       "main main"
                       "footer footer";

}

#grid-container>header{
    grid-area: header;
   

}
main{
    grid-area: main;
   
}

footer{
    grid-area: footer;
}


/*
#main-menu {
    background-color: var(--color-accent-red);
    display: flex;
    justify-content: space-between;
}

.main-menu__menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-menu__menu-item {
    display: inline-block;
}

.main-menu__menu-item>a {
    display: block;
    padding: 16px;
}

.main-menu__responsive-button {
    display: none;
}
*/
