@media only screen and (max-width:700px) {
    #grid-container{
        display: none;
    }
    

    #main-menu> #icon{
        display: block;
    }

    .main-menu__menu-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #f0371e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    

}