/*@media only screen and (max-width:700px) {
    #grid-container{
        display: none;
    }
    

    #main-menu> #icon{
        display: block;
    }

    .main-menu__menu-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #f0371e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    

}

*/

#main-menu .main-menu__responsive-button {
    display: none;
}
/*menu mobile*/
@media (max-width: 600px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
   
    #main-menu #icon{
        color: #eee;
        font-size: 30px; 
        float: right;
        margin-right: 40px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    
    }
    
    #main-menu .main-menu__menu-items{
        background-color:#f0371e;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    #main-menu .main-menu__menu-item{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
   #main-menu a{
       font-size: 18px;
   }

   #main-menu a.active, a:hover{
       border: none;
       color: #f3aaa0;
   }
   #main-menu .main-menu__menu-items.show{
       left: 0;
   }



}
/* Mobile over de hoofdpagina*/
@media (max-width: 600px) {
    #over-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 16px;
        grid-gap: 16px;
    }
    #over-container img {
       width: 100%;
       padding: 16px;
    }

    #over-container p {
       text-transform: none;
       text-align: justify;
     }
 

    
}


/* Samenwerking mobile */

@media (max-width: 600px) {
    #samenwerkingen-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 32px;
        grid-gap: 32px;
    }
}
@media (max-width: 600px) {
    #contact-container{
        display: grid;
    }
}
