/*@media only screen and (max-width:700px) {
    #grid-container{
        display: none;
    }
    

    #main-menu> #icon{
        display: block;
    }

    .main-menu__menu-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #f0371e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    

}

*/



@media (max-width: 700px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    #main-menu #icon{
        color: #eee;
        font-size: 30px;
        
        float: right;
        margin-right: 40px;
        margin-right: 40px;
        cursor: pointer;
        display: block;
    
    }
    
    #main-menu .main-menu__menu-items{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    #main-menu .main-menu__menu-item{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
   #main-menu a{
       font-size: 18px;
   }

   #main-menu a.active, a:hover{
       border: none;
       color: #f3aaa0;
   }
   #main-menu .main-menu__menu-items.show{
       left: 0;
   }



}

