.bg-primary{
    background: #f00;
}

.bg-secondary{
    background: #eee;
}

.bg-third{
    background: #000;
}
/*
:root {
    --color-accent-red: #f00;
    --color-100: #eee;
    --color-900: #000;

    --max-site-width: 1200px;
}
*/
