.bg-primary{
    background: #f00;
}

.bg-secondary{
    background:#F4F6F7;
}

.color-primary{
    color: #eee;
}
.color-secondary{
    color: #17202A;

}

/*
:root {
    --color-accent-red: #f00;
    --color-100: #eee;
    --color-900: #000;

    --max-site-width: 1200px;
}
*/
