header{
    width: 100%;
    
}

#logo>img{
    width: 80px;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 12vh;
    background-color: #f35d5d;
}

.menu-link{
    display: flex;
    background-color: blue;
    justify-content: space-around;
    width: 50%;
}

.sm-link{
    display: flex;
    background-color: rgb(228, 228, 245);
    justify-content: space-around;
    width: 10%;
}

.sm-link li a{
    font-size: 20px;
}
.burger{
    display:none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(228, 228, 245);
    margin: 5px;

}

@media screen and (max-width:1024px){
    .menu-link{
        background-color: rgb(104, 209, 135);
        width: 50%;
    }
}

@media screen and (max-width:600px){
    
    body{
        display: none;
    }
}