header{
    width: 100%;
    
}

#logo>img{
    width: 80px;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 12vh;
    background-color: #f35d5d;
}

.menu-link{
    display: flex;
    background-color: blue;
    justify-content: space-around;
    width: 30%;
}

.sm-link{
    display: flex;
    background-color: rgb(228, 228, 245);
    justify-content: space-around;
    width: 10%;
}

.sm-link li a{
    font-size: 20px;
}