:root {
    --primary:#f77070; 
    --dark:#221A19 ;
    --light: #f0ece8e8;
    --blue: #72f860;   /*Dit is het andere soort blauw voor footer en menu*/
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
    color: inherit;
 
}

html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    font-family: serif;
}

h1 {
    font-size: 54px;
    font-weight:lighter;
}

h2 {
    font-size: 34px;
    font-weight: lighter;
}

h3 {
    font-size: 25px;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    display: block;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 10px;
}