h1{
    font-size: 40px;
    text-align: center;
    margin-left: 25px;
    margin-right: 125px;
    padding: 25px ;
    
}
.about img{
    margin-top: 100px;
    width: 30%;
    height: auto;
    position: center;
    float: left;
  
}

p{
    font-size: 20px;
    
}

footer ul {
    float: right;

}
footer ul li {
  list-style: none;
  display: inline-block;
  margin-top: -500px;
  margin-bottom: 100px;
}
footer ul li a{
    text-decoration: none;
  
  }

footer ul li a img{
    width:25px;
    height: 25px;
    margin:10px;
    
    
}
footer{
    text-align: center;
    background:#34495e;
}
button{
    background-color: #000;
    color: #fff;
    padding:8px;
    margin:3px;
    border: 1px solid #FFF;
    float: left;
}

button:hover{
    background-color: #fff;
    color: #000;
}

footer>p{
    color:#fff;
    font-size: 15px;
}
input{
    float: left;
    width:300px;
    height:30px;
}

