:root{
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: "roboto", sans-serif;
    line-height: 1.4;
   
}
#showcase{
    min-height: 300px;
    color: #fff;
    text-align: center;
}

#showcase .bg-img{
    position: absolute;
  
    background:url(yao.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 100%;
   height: 300px;
   z-index: -1;
   opacity: 0.8;
   
}

.content-wrap{
    padding: 0 1.5em;
}
#about{
    background: var(--primary-color);
    color: #fff;
    padding-bottom: 2em;
    text-align: center;
    justify-content: justify;
}
#main-footer{
    padding: 2em;
    background-color: var(--overlay-color);
    color: #fff;
 
}



