h1{
    font-size: 40px;
    text-align: center;
    margin-left: 25px;
    margin-right: 125px;
    padding: 25px ;
    
}
.about img{
    width: 600px;
    height: 500px;
    float: left;
    margin:10px;
    padding:20px;
  
}

p{
    margin: 20px;
    font-size: 16px;
    
}

#gridcontainer{
    display: grid;
    grid-template-columns:auto auto;    

/*grid-template: "foto","tekstje"*/
    

}
#foto{
    grid-area: 1;
    float: left;
      
} 

#tekstje{
    grid-area:  1/ 2;
    text-align: justify;
}
/* Samenwerking gedeelte*/
.link1{
    margin: 20px 20px;
    padding: 20px;
    align-items: auto;

}
/* t staat voor text*/
.t-middelheim{
    float: left;
    text-align: justify;
    
    
}

.congoville{
    float: right;
    width: 500px;
    height: 300px;
   
}

.link2{
    margin: 20px 20px;
    padding: 20px;
    align-items: auto;

}

.t-aroma{
    float: right;
    text-align: justify;
    
    
}
/* p staat voor picture*/
.p-aroma{
    float: left;
    width: 500px;
    height: 300px;
   
}

.link3{
    margin: 20px 20px;
    padding: 20px;
    align-items: auto;

}

.t-arm{
    float: left;
    text-align: justify;
    
    
}

.p-arm{
    float: right;
    width: 500px;
    height: 300px;
   
}

/*publicatie gedeelte*/
/* img */
#nonkel{
    grid-area: 1;
}
.tony{
    width: 410px;
    margin: 10px;
    margin-left: 15px;
   float: right;
}

/* Tekst */
.t-tony{
    margin: 30px;
    padding: 10px;
    text-align: justify;
   
}

.t-tony a{
    color: red;
}
#nord{
    grid-area: 2;
}

.bxl{
    grid-area: 1/2;
    float: left;
    width: 400px;
    margin: 10px;

}

/* Algemeen footer */
footer{
    text-align: center;
    background:red;
    height:160px;
    margin-bottom: -50px;

}

footer ul {
    float: right;

}
footer ul li {
  list-style: none;
  display: inline-block;
  margin-top: -500px;
  margin-bottom: 100px;
}
footer ul li a{
    text-decoration: none;
  
  }

footer ul li a img{
    width:25px;
    height: 25px;
    margin:10px;
    
    
}

footer button{
    background-color: #8b0000;
    color: #fff;
    padding:8px;
    margin:3px;
    border: 1px solid #FFF;
    float: left;
    margin-left:100px;
}

button:hover{
    background-color: #fff;
    color: #000;
}

footer>p{
    color:#fff;
    font-size: 17px;

}
input{
    float: left;
    width:300px;
    height:30px;
}




@media (max-width: 700px){

    /* Index gedeelte*/
    .about{
        grid-area: 1;
        width: 100%;
        width: 250px;
        margin: 0;
        
    }
  
    #tekstje{
        grid-area: 2;
        margin: 2 15px;
        font-size:15px;
        text-align: justify;
    }
    h1{
        font-size: 40px;
        text-align: center;
        padding:0;
        margin:5px;
    }



    /*samenwerking gedeelte*/
    
    .link1{
        grid-area: 1;
        align-items: center;
        margin: 0 ;
    }
    .link2{
        color: rgb(243, 239, 239);
        grid-area: 2;
        margin-left: 5px;
        background-color: red;
    }
    .link3{
        grid-area: 3;
    }


    div>a>img{
        margin: 0 50px;
    }





/*algemeen footer*/
 footer{
        position: absolute;
        
        width: 100%;
        text-align: center;
        background:red;
        height:180px;
        font-size: 10px;
    }

    footer ul li {
      list-style: none;
      display: inline-block;
      margin-top: 7px;
      margin-left:-60px;
      margin:2px;
    }

    
    footer ul li a img{
        width:20px;
        height: 20px;
        margin:10px;
        
        
    }
   
    footer button{
        background-color: #f0371e;
        color: #fff;
        padding:5px;
        margin:0;
        border: 1px solid #FFF;
        margin-left:0;
        font-size: 10px;
    }
    
    
    footer>p{
        color:#fff;
        
    
    }

    input{
        float:center;
        width:100px;
        height:20px;
        font-size: 10px;
    }

}


