:root{
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75s;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-family: "roboto", sans-serif;
    line-height: 1.4;
   
}
#showcase{
    min-height: 300px;
    color: #fff;
    text-align: center;
}

#showcase .bg-img{
    position: absolute;
  
    background:url(yao.jpg);
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 250px;
   z-index: -1;
   opacity: 0.8;
   
}

.content-wrap{
    padding: 0 1.5em;
}
main{
    padding:10px;
}
.menu>div>div>ul>li>a{
    font-size: 20px;
}

.menu>div>div>ul>li{
   width: 450px;
}

.menu>div>div>ul>li:hover{
    background: var(--primary-color);

}

#about{
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    justify-content: justify;
}

a {
    font-size: 10px;
    color: white;
}
footer>a>img{
    width:25px;
    height: 25px;
    margin:10px;
    
    
}
footer{
    text-align: center;
    background: var(--overlay-color);
}
button{
    background-color: #000;
    color: #fff;
    padding:8px;
    margin:3px;
    border: 1px solid #FFF;
}

button:hover{
    background-color: #fff;
    color: #000;
}

footer>p{
    color:#fff;
}
input{
    width:300px;
    height:30px;
}

